header{
    background-color: #fff
}

header img{
    width: 350px;
    margin-top: 50px;
    margin-left: 100px;
}
header li{
    float: left;
    list-style: none;
    padding: 20px;
}

header nav{
    float: right;
    margin-top: 50px;
    margin-right: 75px;
}
header nav a{
    text-decoration: none;
    font-family: Arial;
    font-size: 30px;
    color: #255308;

}

header li:hover a{
    color: #152F04;
}

.container{
    margin: auto;
    background-color: #fff;
    width: 800px;
    padding: 30px;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
}

ul.slider li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: #fff;
    transition: opacity .5s;
}

ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}


ul.slider li:first-child{
    opacity: 1;
}


ul.slider li:target{
    opacity: 1;
}


.menu{
    margin: 20px;
    text-align: center;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: #A1B8AF;
    padding: 15px;
    width: 20px;
    height: 20px;
}

.footer-base {
    margin-right: 50px;
    float: right;
    text-decoration: none;
}